In [1]:
# pandas is a library function used for working with structured data 
in which the data are organized as tables such as spreadsheets or database. 
import pandas as pd

In [2]:
# loading salary database which is a csv file to a term 'dataset'using pandas 
dataset = pd.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
# Separating the input and output from the dataset. Selecting the input variable as 'YearsExperience' column from the dataset
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
#selecting the output variable as 'Salary' column from the dataset
dependent= dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [6]:
#using machine learning module,train_test_split function is essential for splitting data into two sets: one for training the model, and the other for testing it. 
from sklearn.model_selection import train_test_split

In [7]:
# train_test_split function helps in randomly splitting the dataset into these two subsets, while ensuring 
#that can control the proportion of data in each subset
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [8]:
# this is the procedure to do a project in machine learning particulary in simple linear regression model.
from sklearn.linear_model import LinearRegression

In [1]:
# The LinearRegression() class is used to create a regressor object that will learn the relationship between the features (X_train) 
# and the target variable (y_train).fit() method computes the coefficients (slopes) of the linear regression model 
# that minimize the error between the predicted values and the actual values in the training data.
regressor=LinearRegression()
regressor.fit(X_train,y_train)

NameError: name 'LinearRegression' is not defined

In [2]:
# calculating the weight coefficient in y = wx+b
weight=regressor.coef_
weight

NameError: name 'regressor' is not defined

In [11]:
# calculating the bias intercept
bias=regressor.intercept_
bias

array([26777.3913412])

In [12]:
# the trained model which was fitted on X_train and y_train to predict the target values for the test data X_test.
# this is used to cross-check to predict the values
y_pred=regressor.predict(X_test)

In [13]:
# starts the Evaluation metrics using R2 score which indicates how well the predictions (y_pred) match the actual target values (y_test)
from sklearn.metrics import r2_score

In [14]:
# if the r2 score is near to '1.0'then it indicates perfect prediction and if it is near to '0.0' the model is no better than predicting 
# the mean of the target variable for all instances.,
r_score=r2_score(y_test,y_pred)
r_score

0.9740993407213511

In [15]:
# to save the model
import pickle

In [16]:
# storing a name in sav file
filename="finalized_model_linear.sav"

In [17]:
# saving the model,your trained regressor model will be saved to a file named 'Finalized_model_linear' using wb-write binary
pickle.dump(regressor,open(filename,'wb'))

In [18]:
# again loading the same model in the read mode
loaded_model=pickle.load(open("finalized_model_linear.sav", 'rb'))

In [19]:
# testing the simplelinear regression model with the input as 15 years of experience and predicting the salary.
result=loaded_model.predict([[15]])
result

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])

In [20]:
result=loaded_model.predict([[13]])
result

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[148460.78806172]])